header{ 
    background-color: #383d58;
    color:aliceblue;
}
.cabeçalho-imagem{
    width: 20%
   
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}